body {
    background-color: #fffcf2;
    font-size: 19px;
    margin-top: 0;
    
}
main {
    margin-left: 9%;
}
h1 {
    margin-top: 0;
    margin-left: 10%;
    padding-right: 5%;

    color: #dac59e;
    text-align: center;
    text-shadow: 1px 1px 2px blue ;
    text-transform: uppercase;
    font-size: 30;
    
    

    word-wrap: break-word;
}
h2 {
    margin-left: 100px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.email {
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 26px;
    margin-left: 25%;
}
li {
    margin-top: 20px;
}
.dice{

height: 200px;

    background: linear-gradient(135deg, rgb(185, 147, 255) 40%, rgb(140, 248, 248));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.link {
    color: black;
    background-color: rgb(219, 218, 218);
    border: 3px solid grey;
    font-weight: bold;
    text-decoration: none;

    transition: color .5s linear;
}
.link:hover{
    color: #fff;
    font-size: 22px;
    background-color: #816b97;
    border: 3px dashed goldenrod;
}

.s_head{
    background: url(backMin.jpg) center;
    background-size: cover;
    border-radius: 17% 0;
}

.h2_h{
    color: #acc1cf;
    text-shadow: 1px 1px 2px rgb(0, 0, 0) ;
}
    


@keyframes animation1{
    0%{
        background-color: #7d00fa;
    }
    33%{
        background-color:  #6300c7;
        text-shadow: 5px 5px 2px #acc1cf;
    }
    66%{
        background-color: #510192;
    }
    100%{
        background-color: #3b007a;
    }
}



button {
    background-color: #7e718a;
    border-radius: 20px;
    color: bisque;
    padding: 10px;
    cursor: pointer;
    animation: animation1 infinite 1s;
    height: 75px;
    width: 75px;

}
#placeholder {
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 5px solid grey;
    border-radius: 50px;
    font-size: 80px;
    background-color: #dac59e;
    cursor: grab;
    text-shadow: 1px 1px 5px blue ;
    box-shadow: 10px -5px #7a6a4d;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.my_work {
    background: linear-gradient(-30deg,#333 88%, gold);
    border-radius: 10px;
    
}
.h_my_w {
    color: #fff;
    text-transform: uppercase;
}
.discr_my_w {
    
    color: pink;
   padding-bottom: 10px;
}

/* Side menu */
.side_menu {
    height: 100%;
    width: 7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    
}
.side_menu a {
    padding: 7%;
   
    margin-top: 20%;
    text-decoration: none;
    font-size: 20px;
    color: #818181;

    border: black inset 3px ;
    border-radius: 10px;


    display: block;
    text-align: center;
    writing-mode: vertical-lr ;
}
.side_menu a:hover {
    color: #fff;
}


.side_menu a:active {
   
        color: red;
    
}